.card {
  max-width: 413px;
  position: relative;
}

.card__image {
  height: 413px;
  width: 100%;
  object-fit: cover;
  border-radius: 8px;
  display: block;
}

.card__delete-icon {
  background-image: url(../images/delete-icon.png);
  position: absolute;
  top: 10px;
  left: 371px;
  width: 32px;
  height: 32px;
  background-color: transparent;
  border: none;
}

.card__delete-icon:hover {
  background-image: url(../images/delete-icon-hover.png);
  color: #ff6565;
  cursor: url("../images/Layer\ 1\ 2.svg"), auto;
}

.card__title {
  color: #212121;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 350px;
}

.card__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 12px;
}

.card__like-btn {
  background-image: url(../images/like_btn.svg);
  width: 23px;
  height: 20px;
  border: 2px;
  background-color: transparent;
  opacity: 0.4;
  color: #212121;
}

.card__like-btn:hover {
  opacity: 1;
  cursor: url("../images/Layer\ 1\ 2.svg"), auto;
}

.card__like-btn_liked {
  background-image: url("../images/like-icon-liked.svg");
  opacity: 1;
}

.card__like-btn_liked:hover {
  background-image: url("../images/like-icon-liked-hover.svg");
  opacity: 1;
}

@media screen and (max-width: 627px) {
  .card__image {
    height: 288px;
  }

  .card__title {
    font-size: 18px;
    max-width: 265px;
  }
  .card__like-btn {
    width: 20px;
    flex: 0 0 20px;
    background-size: 20px;
    background-repeat: no-repeat;
  }
}
