.modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  padding: 0 20px;
  opacity: 0;
  transition: visibility 0.3s, opacity 0.3s ease-in;
  font-family: "Poppins", sans-serif;
}

.modal_opened {
  visibility: visible;
  opacity: 1;
}

.modal__content {
  background-color: #fff;
  max-width: 730px;
  width: 100%;
  padding: 32px 50px;
  position: relative;
  box-sizing: border-box;
  border-radius: 8px;
}

.modal__content_type_preview {
  padding: 0;
  width: auto;
  height: auto;
  background-color: transparent;
}

.modal__image {
  width: 100%;
  object-fit: contain;
  max-width: 88vw;
  max-height: 80vh;
  border-radius: 8px;
}

.modal__close-btn {
  position: absolute;
  top: 32px;
  right: 50px;
  height: 40px;
  width: 40px;
  background-image: url(../images/Close-Icon.svg);
  background-size: cover;
  color: #212121;
  opacity: 40%;
  border: none;
  background-color: transparent;
}

.modal__close-btn_type_preview {
  background-image: url(../images/close-light.svg);
  top: 0;
  right: -52.5px;
  opacity: 1;
}

.modal__close-btn:hover {
  opacity: 100%;
  cursor: url("../images/Layer\ 1\ 2.svg"), auto;
  color: rgba(33, 33, 33, 1);
}

.modal__title {
  margin: 0 0 32px;
  font-family: "poppins", "roboto";
  width: 630px;
  height: 40px;
  font-size: 31px;
  font-weight: 500;
  line-height: 1;
}

.modal__label {
  display: block;
  flex-direction: column;
  gap: 8px;
  font-weight: 500;
  font-size: 16px;
  color: #212121;
  opacity: 70%;
  font-family: "Poppins", sans-serif;
  margin-bottom: 32px;
}

.modal__label:hover {
  opacity: 100%;
  cursor: url("../images/Layer\ 1\ 2.svg"), auto;
}

.modal__input {
  border: 1px solid #212121;
  border-radius: 8px;
  width: 100%;
  max-width: 630px;
  margin: 8px 0 0;
  padding: 16px 12px;
  font-size: 20px;
  box-sizing: border-box;
}

.modal__input:hover {
  border: 1px solid #212121;
}

.modal__input_type_error {
  border: 1px solid rgba(255, 0, 0, 0.6);
}

.modal__error {
  display: block;
  font-size: 16px;
  color: rgba(255, 0, 0, 0.7);
  font-family: "Poppins";
  font-weight: 500;
  margin-top: 8px;
}

.modal__submit-btn {
  width: 156px;
  padding: 18px 0;
  border-radius: 8px;
  background-color: #212121;
  color: #fcf5e5;
  height: 52px;
}

.modal__submit-btn:hover {
  background-color: rgba(33, 33, 33, 0.8);
}

.modal__submit-btn_disabled {
  opacity: 50%;
}

.modal__caption {
  font-family: "Poppins";
  width: fit-content;
  height: 32px;
  background-color: rgba(0, 0, 0, 1);
  color: #fff;
  border-radius: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  padding: 4px 8px;
  margin: 0;
  text-align: center;
}

@media screen and (max-width: 800px) {
  .modal__close-btn_type_preview {
    top: -43px;
    right: 1px;
  }
}

@media screen and (max-width: 627px) {
  .modal {
    padding: 0 10px;
    gap: 24px;
    background-color: rgba(0, 0, 0, 0.8);
  }

  .modal__content {
    padding: 12px;
    border-radius: 8px;
  }

  .modal__title {
    width: 106px;
    height: 20px;
    font-weight: 500;
    font-size: 20px;
    margin: 12px 0 24px;
  }

  .modal__input {
    width: 100%;
    cursor: pointer;
    font-size: 16px;
  }

  .modal__submit-btn {
    width: 100%;
    cursor: pointer;
  }

  .modal__image {
    border-radius: 4px;
  }
  .modal__caption {
    font-size: 16px;
    font-weight: 500;
    height: 19px;
  }

  @media screen and (max-width: 320px) {
    .modal {
      max-width: 320px;
    }

    .modal__label {
      margin-bottom: 24px;
    }

    .modal__close-btn {
      top: 13px;
      right: 10px;
    }

    .modal__close-btn_type_preview {
      top: -43px;
      right: 8px;
    }

    .modal__submit-btn {
      margin-bottom: 12px;
    }
  }
}
